#contact {
    font-family: 'Gothic+A1', sans-serif;

    background-image: url('https://1.bp.blogspot.com/-VHB4iAs11A4/XdKECk5GCkI/AAAAAAAAHMA/Bw5IYcni3fU59IKHI7x6ssnykqTj8y33ACLcBGAsYHQ/s1600/bg.png');
    background-repeat: repeat;
    
    h2 {
        font-size: 2.5rem;
        color: $dark;
    }

    p {
        font-size: 1.3rem;
        color: $dark;
    }

    input {
        font-size: 15px;
    }
    input::placeholder {
        font-size: 15px;
        opacity: 1; /* 파이어폭스에서 뿌옇게 나오는 현상을 방지하기 위한 css */
    }
    input::-webkit-input-placeholder {
        font-size: 15px;
    }
    input::-moz-placeholder {
        font-size: 15px;
    }
    input:-ms-input-placeholder {
        font-size: 15px;
    }
    input:-moz-placeholder {
        font-size: 15px;
    }

    text-area {
        font-size: 15px;
    }
    textarea::placeholder {
        font-size: 15px;
        opacity: 1; /* 파이어폭스에서 뿌옇게 나오는 현상을 방지하기 위한 css */
      }
      textarea::-webkit-input-placeholder {
        font-size: 15px;
      }
      textarea:-ms-input-placeholder {
        font-size: 15px;
      }
      textarea:-mos-input-placeholder {
        font-size: 15px;
      }

    // padding: 6em 0;
    @include media-breakpoint-down(lg) {
        background-position: center center !important;
    }

    .img {
        display: block;
        width: 100%;
        position: relative;
        z-index: 0;
    }

    .text {
        display: inline-block;

        @include media-breakpoint-up(lg) {
            padding-left: 120px !important;
            margin-left: -120px;
        }

        p {
            font-size: 24px;
            line-height: 1;
        }

        span.number {
            font-weight: 400;
            color: $black;
            font-size: 30px;
            font-weight: 400;
        }

        span {
            color: rgba(0, 0, 0, 1);
            margin-bottom: 10px;
            font-weight: 500;
            display: block;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 18px;
        }
    }

    padding: 7em 0;
    position: relative;

    @include media-breakpoint-down(sm) {
        padding: 6em 0;

        p {
            font-size: 1.2rem;
        }
    }

    padding-top: 0 !important;

    padding-bottom: 0 !important;

    //COVER BG
    .img,
    .blog-img,
    .user-img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    button {
        font-size: 20px;
        padding: 10px 15px !important;
    }
}