#features {
	word-break: keep-all;
	background-image: url('https://1.bp.blogspot.com/-VHB4iAs11A4/XdKECk5GCkI/AAAAAAAAHMA/Bw5IYcni3fU59IKHI7x6ssnykqTj8y33ACLcBGAsYHQ/s1600/bg.png');
	background-repeat: repeat;

	.popup-img {

		&:hover,
		&:focus {
			cursor: pointer;
		}
	}

	b {
		color: $dark;
		background-color: $gold;
		font-weight: bold;
		border-radius: 2px;
	}

	b1 {
		color: $dark;
		background-color: rgba(255, 160, 36, 0.75);
		font-weight: bold;
		border-radius: 2px;
	}
	b2 {
		color: #ffffff;
		background-color: rgba(0, 127, 255, 0.75);
		font-weight: bold;
		border-radius: 2px;
	}

	b3 {
		color: #ffffff;
		background-color: rgba(0, 204, 0, 0.75);
		font-weight: bold;
		border-radius: 2px;
	}

	.nav-link-wrap {
		background: linear-gradient(to bottom, #{fade-out($secondary, .15)} 0%, #{fade-out($secondary, .3)} 100%),
		url('https://1.bp.blogspot.com/-uLCJWHPeowQ/XdPsNwMYJ1I/AAAAAAAAHMo/_49deqqtdmch-wsdOWhgN6gG5ZD3tff_gCLcBGAsYHQ/s1600/bg.jpg');

		// @include gradient-background();
		@include media-breakpoint-up(md) {
			padding-top: 3rem !important;
			padding-bottom: 3rem !important;
			//margin-bottom: -50px;
			margin-bottom: 0px;
			z-index: 1;
			opacity: .5;
		}

		@include media-breakpoint-down(sm) {
			background: linear-gradient(to bottom, #{fade-out($secondary, .05)} 0%, #{fade-out($secondary, .2)} 100%),
			url('https://1.bp.blogspot.com/-uLCJWHPeowQ/XdPsNwMYJ1I/AAAAAAAAHMo/_49deqqtdmch-wsdOWhgN6gG5ZD3tff_gCLcBGAsYHQ/s1600/bg.jpg');
			padding-top: 0.65rem !important;
			padding-bottom: 0.65rem !important;
			margin-top: 30px;
			opacity: .5;
		}
	}

	.nav-pills {
		p {
			margin-bottom: 0;
		}

		.nav-link {
			float: left;
			border-radius: 0;
			margin-bottom: .3rem;
			color: #ffffff;
			font-size: 1.5rem;
			font-weight: 500;
			position: relative;
			font-family: 'Gothic+A1', sans-serif;

			&:after {
				position: absolute;
				top: 20px;
				bottom: 10px;
				right: 0;
				width: 0;
				height: 0;
				content: '';
				border-style: solid;
				border-width: 10px 10px 10px 0;
				border-color: transparent #fafafa transparent transparent;
				opacity: 0;
			}

			span {
				font-size: 24px;
				margin-right: 5px;
				color: #ffffff;
			}

			&.active,
			&:hover {
				color: $white;
				font-size: 1.7rem;
				// background: #333644;
				@include transition(.3s);
				background: transparent;
				font-weight: 700;

				&:after {
					opacity: 1;
				}

				span {
					color: $white;
				}

				@include media-breakpoint-down(sm) {
					font-size: 1.2rem;

					&:after {
						opacity: 0;
					}
				}
			}

			@include media-breakpoint-down(sm) {
				display: block;
				width: 100%;
				font-size: 1rem;
			}
		}
	}

	.tab-content {
		h2 {
			font-size: 2.5rem;
			color: $dark;
		}

		p {
			font-size: 1.3rem;
			color: $dark;
		}

		.tab-pane {
			font-family: 'Gothic+A1', sans-serif;
			color: #292929;
		}

		.btn {
			font-size: 20px;
		}

		@include media-breakpoint-down(sm) {
			h2 {
				font-size: 1.8rem;
			}

			p {
				font-size: 1.2rem;
				color: $dark;
			}
		}
	}
}