#install {
    overflow: hidden;
    font-family: 'Gothic+A1', sans-serif;
    color: #454545;
    word-break: keep-all;

    background-image: url('https://1.bp.blogspot.com/-VHB4iAs11A4/XdKECk5GCkI/AAAAAAAAHMA/Bw5IYcni3fU59IKHI7x6ssnykqTj8y33ACLcBGAsYHQ/s1600/bg.png');
	background-repeat: repeat;

    h2, h3, h4 {
        color: black;
    }

    b {
        color: $dark;
		background-color: $gold;
		font-weight: bold;
		border-radius: 2px;
    }

    #store_img {
        @include transition(.85s);
        &:hover {
            content: url('../img/store2.png');
            cursor: pointer;
        }
    }

    @include media-breakpoint-down(lg) {
        font-size: .85rem;
	}

	@include media-breakpoint-down(md) {
		font-size: 1.05rem;
	}
}