// Styling for the masthead
header.masthead {
  padding-top: 1rem;
  padding-bottom: calc(10rem - #{$navbar-height});
  // replace the masthead.jpg image in the /img directory to change the image
  // if the image name change, make sure to update the url path below!
  background: linear-gradient(to bottom, #{fade-out($secondary, .1)} 0%, #{fade-out($secondary, .7)} 100%),
  url('https://1.bp.blogspot.com/-Xsnk0lQGhC4/Xfap0STdEyI/AAAAAAAAHfY/8_gWx05QTEssYlH1HtJHIqA4Hu9K1OmjACLcBGAsYHQ/s1600/bg-masterhead3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  h2 {
    font-weight: 800;
    color: white;
    font-size: 2.5rem;
  }

  p {
    font-size: 1.2rem;
    font-family: 'Gothic+A1', sans-serif;
    color: white;
    padding-bottom: .5rem;
    margin-bottom: 0;
  }

  b {
    color: $dark;
    background-color: $gold;
    font-weight: bold;
    border-radius: 2px;
    padding: 1px 1px 2px 1px;
    opacity: 0.8;
  }

  b1 {
    color: #fff;
		background-color: rgba(0, 127, 255, 0.75);
    font-weight: bold;
    border-radius: 2px;
    padding: 1px 1px 2px 1px;
    opacity: 0.8;
  }

  span {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 2.25rem;
    font-weight: bold;
  }

  #scroll-down {
    background: none;
    color: #fff;

    &:hover {
      text-decoration: none;
      color: $primary;
    }

    i {
      font-size: 18px;
    }
  }

  .popup-img {
    //border: 0.2rem double #aaa;
    border-radius: 0.1rem;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 6.5rem !important;

    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 1.3rem;
    }

    .popup-img {
      border: 0rem;
      border-radius: 0rem; 
    }
  }

  @include media-breakpoint-up(lg) {
    height: 100vh;
    min-height: 40rem;
    padding-top: $navbar-height;
    padding-bottom: 0;

    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 1.3;
    }
  }

  @include media-breakpoint-up(xl) {
    h1 {
      font-size: 3.3rem;
    }

    h2 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
}