// Variables

// Color overrides

// Set a custom color
$orange: #ff7f00 !default;
$brown: #5c4d42 !default;
$dark: #555555 !default;
$green: #22a822;
$gold: #ffd300;
$black: #000000;

// Set primary color to orange
$primary: $orange !default;
$secondary: $dark;

// Font overrides
$font-family-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;

$font-family-serif: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;

$font-family-base: $font-family-serif !default;

$headings-font-family: $font-family-sans-serif !default;

// Custom variables
$navbar-height: 72px;
