#whyhow{
	word-break: keep-all;
	background-image: url('https://1.bp.blogspot.com/-VHB4iAs11A4/XdKECk5GCkI/AAAAAAAAHMA/Bw5IYcni3fU59IKHI7x6ssnykqTj8y33ACLcBGAsYHQ/s1600/bg.png');
	background-repeat: repeat;

	b {
		color: $dark;
		background-color: $gold;
		font-weight: bold;
		border-radius: 2px;
	}

	b1 {
		color: #fff;
		background-color: rgba(0, 16, 255, 0.75);
		font-weight: bold;
		border-radius: 2px;
	}

	b2 {
		color: #fff;
		background-color: rgba(255, 16, 0, 0.75);
		font-weight: bold;
		border-radius: 2px;
	}

	bo {
		color: $orange;
	}

	bb {
		font-size: 1.5rem;
	}

	a {
		color: $dark;
		border-bottom: .2rem solid $orange;

		&:hover {
			@include transition(.15s);
			color: #fff;
			text-decoration: none;
			font-weight: 600;
			background-color: $orange;
			border-radius: 2px;
		}
	}

	span {
		&:hover {
			cursor: pointer;
		}
	}



	@include media-breakpoint-down(lg) {
		font-size: .85rem;
	}

	@include media-breakpoint-down(md) {
		font-size: 1.05rem;
	}
}